# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.joblib

# Virtual environment
venv/
.venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Streamlit
.streamlit/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# VSCode / IDE settings
.vscode/
.idea/

# Build / distribution
dist/
build/
*.egg-info
